@media (min-width: 768px) and (max-width: 979px) {
  .adventures .span4 {
    width: 352px;
  }
  .adventures .span2 {
    width: 170px;
  }
  .video_container {
    iframe {
      width: 640px;
      height: 360px;
    }
  }
}

@media (max-width: 767px) {
  article h1 { margin-top: 30px; }
  ul.screenshots {
    height: 360px;
    li {
      height: 360px;
    }
    img {
      max-height: 360px;
    }
  }
  .adventures {
    text-align: center;
    .text {
      margin-top: 10px;
    }
    .adventure_intro {
      margin-left: 0;
    }
  }
  .adventure_header {
    .icon {
      margin-bottom: 40px;
    }
  }
  .video_container {
    iframe {
      width: 400px;
      height: 224px;
    }
  }
  .banner {
    h1, h2, p {
      color: #333;
    }
  }

}

@media (max-width: 480px) {
  ul.screenshots {
    height: 240px;
    li {
      height: 240px;
    }
    img {
      max-height: 240px;
    }
  }
  .video_container {
    iframe {
      width: 100%;
      height: 224px;
    }
  }
  .adventure_header {
    height: auto;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top { 
    margin-bottom: 0;
  }
  .adventure_header {
    height: auto;
    .icon {
      padding: 20px 0;
    }
  }
}

@media (min-width: 980px) {
  .adventure_header {
    .icon {
      padding: 40px 0;
    }
  }
}
@media (min-width: 1200px) {
  .adventures .adventure_intro {
    min-height: 98px;
    margin-left: 28px;
    margin-bottom: 28px;
    .text {
      h3 {
        font-size: 28px;
        margin-bottom: 24px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .adventure_header {
    .icon {
      padding: 60px 0;
    }
  }
}
