ul.screenshots {
  list-style: none;
  text-align: center;
  position: relative;
  margin: 0;
  height: 500px;
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }
  img {
    max-height: 500px;
  }
  .thumbnail {
    display: inline;
  }
}

@media (max-width: 979px) {
  ul.screenshots {
    height: 400px;
    li {
      height: 400px;
    }
    img {
      max-height: 400px;
    }
  }
}
