// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 40px 0;
}

.entry-content p,
.hentry p,
.entry-content li,
.hentry li {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 1.7em;
}
.entry-content p,
.hentry p {
  margin: 1.7em 0;
}
.etrny-content,
.hentry {
  h2 { font-size: 31.5px; }
  h2, h3 { border-bottom: #eee 1px solid; }
  h3 { font-size: 24.5px; }
  h4 { font-size: 22.5px; }
}

h1, h2, h3, h4, h5, h6, p { font-weight: normal; line-height: 150%; }


p {
  font-size: 16px;
}

hr { margin: 40px 0; }

strong {
  background: #cbe9ff;
  font-weight: normal;
}

h1, h2, h3, h4, h5 h6 {
  a, a:hover, a:visited {
    text-decoration: none;
  }
}

iframe { border: none; }

figure.code .line-numbers, pre code { white-space: pre; }

// Bootstrap menu width override
.navbar .nav>li { line-height: 21px; }
.navbar .nav>li>a { padding: 10px 8px 10px; text-shadow: none !important; }
.navbar .nav>li>a:hover { text-shadow: none !important; }
.navbar-inner { background: #222 !important; border: none !important; }
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus {
  background: #1a1a1a;
}
.nav-collapse .navbar-form { box-shadow: none !important; border: none !important; }

.btn { background-image: none !important; text-shadow: none !important; box-shadow: none !important; border: none !important; }
.btn-large { padding: 18px 19px; font-size: 20px; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.hover, .btn-primary.focus, .btn-primary.active { background-color: #1d5ec2 !important; }

#header, #footer {
  text-align: center;
  padding-bottom: 0;
}

#header .logo {
  margin-top: 60px;
  margin-bottom: 20px;
  display: block;
}
#header .lead {
  margin-bottom: 40px;
}

.page_header { 
  border-bottom: #eee 1px solid;
}

hr.treasure {
  border-top: #ddd 1px dashed;
  border-bottom: #fff 1px dashed;
  margin: 40px 0;
}

.sharing {
  margin: 30px 0;
}

article {
  .sharing {
    margin: 30px 0 0 0;
  }

  h1 {
    margin: 50px 0 30px 0;
  }
}
article.hentry h1 {
  font-size: 31.5px;
}

.buttons {
  text-align: center;

  #header & { 
    padding: 40px 0 20px 0;
  }
  .price_notice, .download_notice {
    margin: 10px 0;
  }
}

.banner {
  width: 100%;
  min-height: 240px;
  overflow: hidden;
  position: relative;
  color: #fff;

  .container {
    margin: 40px auto 0 auto;
  }
  img.bg {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 500px;
    top: 0;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
  }
}

.thumbnail {
  background: #fff;
  margin-bottom: 1em;
  box-shadow: none;
  img {
    width: 100%;
  }
}
.promo { 
  margin: -30px auto 50px auto;
  text-align: center;
}

#footer .socials {
  margin-top: 30px;
  text-align: center;
  a {
    padding: 0 10px;
  }
}

.video_container {
  text-align: center;
  .thumbnail { display: inline-block; }

  iframe {
    width: 640px;
    height: 360px;
    #header & { 
      width: 100%; 
      height: 300px;
    }
  }
}
