// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

body, #header {
  padding: 40px 0;
}

#header, #footer {
  text-align: center;
  padding-bottom: 0;
}
#header .lead { padding-top: 20px; }

hr.treasure {
  border-top: #ddd 1px dashed;
  border-bottom: #fff 1px dashed;
  margin: 40px 0;
}

.sharing {
  margin: 30px 0;
}
