// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 150%;
}

body, #header {
  padding: 40px 0;
}

#header, #footer {
  text-align: center;
  padding-bottom: 0;
}

hr.treasure {
  border-top: #ddd 1px dashed;
  border-bottom: #fff 1px dashed;
  margin: 40px 0;
}

.sharing {
  margin: 0 0 30px 0;
}
article .sharing {
  margin: 30px 0 0 0;
}

article h1 {
  margin: 50px 0 30px 0;
}

.banner {
  width: 100%;
  height: 240px;
  overflow: hidden;
  position: relative;
  color: #fff;

  .container {
    margin-top: 80px;
  }
  img.bg {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 460px;
    top: 0;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
  }
}

.thumbnail {
  background: #fff;
  margin-bottom: 1em;
  img {
    width: 100%;
  }
}

#footer .socials {
  margin-top: 30px;
  text-align: center;
  a {
    padding: 0 10px;
  }
}
