.app-preview {
  &-actions {
    margin-top: $size-6;
  }
}

.app-actions {
  margin: $size-2 0;
}


.screenshot-macbook {
  text-align: center;

  @include from($tablet) {
    background-image: url('/assets/img/macook-half-wireframe-now-playing@2x.png');
    background-size: 466px 513px;
    background-position: 100% 0;
    background-repeat: no-repeat;

    text-align: right;
    min-height: 513px;

    &-image {
      margin: 23px 40px 0 0;
    }
  }
}

.appstore-button {
  &__image { width: 312px; }
}

.box-modal {
  .box {
    cursor: pointer;
  }
}
