.has-shadow {
  box-shadow: $box-shadow;
}

.post-header,
.page-header {
  margin-bottom: $size-1;
}

.page {
  &-description {
    font-family: Neuton, serif;
    padding: $size-1 0;

    border-top: 1px solid $primary;
    border-bottom: 1px solid $orange;
  }
}
