.hero {
  background: repeating-linear-gradient(
  45deg,
  $white,
  $white 100px,
  $white-complementary 100px,
  $white-complementary 200px
  );

  border-bottom: $white-complementary $size-7 solid;
}

.hero .logo {
  & svg {
    height: $size-1 * 5;
  }
}
