.logo-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  & svg {
    width: $size-3;
    height: $size-3;

    & path {
      fill: currentColor !important;
    }
    & ellipse, & circle {
      stroke: currentColor !important;
    }
  }
}

.navbar-item-logo .logo {
  svg {
    width: 30px;
    height: 30px;
  }
}
