.news {
  &-posts {
    &-post {
      &-tags {
        margin-top: $size-7;
      }
    }
  }
}
.post {
  article.content {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
