.title,
.logo {
  font-family: $family-title;
}

.title.is-1 {
  font-family: "Oswald", $family-title;
}

.has-text-white {
  .title, .subtitle {
    color: $white;
  }
}

.content {
  blockquote {
    background: transparent;
  }
}

.page-description {
  color: $black;
}
