.title,
.logo {
  font-family: $family-title;
}

.title.is-1 {
  font-family: "Oswald", $family-title;
}

.has-text-white {
  .title, .subtitle {
    color: $white;
  }
}

.content {
  blockquote {
    background: transparent;
  }
}

.page-description {
  color: $black;
}

.title a {
  transition: all 0.25s ease;

  background: linear-gradient(to top right, $orange, $purple);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  &:hover {
    text-fill-color: $purple;
    -webkit-text-fill-color: $orange;
  }
}
