---
layout: default
---

<main class="page">
  <div class="container">
    <header class="page-header">
      <h1 class="title">{{ page.site_title }}</h1>
      {% if page.date %}
      <p class="subtitle is-4 has-text-grey-light">{{ page.date | date: "%B %Y"}}</p>
      {% endif %}
    </header>
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <article class="page-content content is-medium">
          {{ content | markdownify }}

          {% if page.screenshots %}
          <h2 id="screenshots">Screenshots</h2>
          <div class="columns is-multiline">
            {% for screenshot in page.screenshots %}
            <div class="column is-half">
              <figure>
                <a href="/assets/img/app/{{ screenshot.src }}"><img src="/assets/img/app/{{ screenshot.src }}" alt="{{ screenshot.alt }}"></a>
                <figcaption class="is-size-6">{{ screenshot.caption }}</figcaption>
              </figure>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </article>

        {% if page.mailchimp %}
        {% include signup/mailchimp.html %}
        {% endif %}

      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="title is-2">Latest news</h2>
            {% assign posts = site.tags[page.topic] %}
            {% if posts %}
            {% include related/news.html posts=posts limit=3 %}
            {% else %}
            <p>No news, yet.</p>
            {% endif %}
          </div>
        </div>
        <div class="column is-offset-1 is-4">
          <div class="content">
            <h2 class="title is-2">Features</h2>
            <ul>
              {% for feature in page.features %}
              <li>{{ feature }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="app-actions">
            <div class="buttons">
              {% if page.appstore %}
              <a href="{{ page.appstore }}" class="button is-link"><span class="icon"><i class="fab fa-app-store"></i></span><span>Get {{ page.title }}</span></a>
              {% elsif page.download %}
              <a rel="nofollow" href="{{ page.download }}" class="button is-link"><span class="icon"><i class="fas fa-arrow-circle-down"></i></span><span>Download {{ page.title }}</span></a>
              {% endif %}
              {% if page.website %}
              <a href="{{ page.website }}" class="button is-light">Visit {{ page.website | replace: "https://www.", "" }}</a>
              {% elsif page.presskit %}
              <a href="{{ page.presskit }}" class="button is-light">Get Press Kit</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
