---
layout: default
---

<main class="page">
  <section class="section">
    <div class="container">
      <header class="page-header">
        <h1 class="title is-1">{{ page.site_title }}</h1>
        {% if page.date %}
        <p class="subtitle is-4 has-text-grey-light">{{ page.date | date: "%B %Y"}}</p>
        {% endif %}
      </header>
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <article class="page-content content is-medium">
            {{ content | markdownify }}
          </article>
        </div>
      </div>
    </div>
  </section>

  {% if page.alternatives %}
  <section class="section is-medium">
    <div class="container">
      <div class="content is-medium has-text-centered">
        <h2 class="title is-2">{{ page.alternatives.title }}</h2>
      </div>
      <div class="columns is-centered is-multiline">
        {% for topic in page.alternatives.topics %}
        {% assign app = site.pages | where: 'topic', topic | first %}
        <div class="column is-12">
          {% include app/introduction.html app=app %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <div class="content is-medium">
            <h2 class="title is-2">Related news</h2>
            {% include related/news.html posts=site.tags.airvlc %}
          </div>
        </div>
        <div class="column is-offset-1 is-6">
          {% if page.screenshots %}
          <div class="content is-medium">
            <h2 class="title is-2">Screenshots</h2>
          </div>
          {% include app/screenshots.html screenshots=page.screenshots %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
