---
layout: default
---

<main class="page">
  {{ content }}

  {% if page.setapp %}
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <div class="content is-medium">
            <h2 class="title is-2">Available on <a href="https://go.setapp.com/stp276">Setapp</a></h2>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="content is-medium">
            <p>Setapp is an award winning app subscription service that gives you full, unlimited access to Timeless <em>and another 170+ apps</em> for just $9.99 a month.</p>
            <p>Every app is completely unlocked and yours to use while you're a subscriber. Try it. 👌</p>
            <div class="setapp-button available-on-setapp-{{ page.setapp.app }}"></div>
          </div>
        </div>
        <div class="column is-offset-1 is-5">
          <figure class="has-text-centered">
            <a href="https://go.setapp.com/stp276"><img src="/assets/img/logos/Setapp Desktop Icon 512х512.png" alt="The Setapp desktop app icon" style="width: 256px;"></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.mailchimp %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class ="column is-5">
          <div class="content is-medium">
            <h2 class="title is-2">Subscribe ✉️</h2>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class ="column is-5">
          <div class="content is-medium">
            <p>Stay up to date by subscribing to the {{ page.title }} newsletter.</p>
            <p>I'll occasionally send you updates, announcements for new apps and other general news that's important enough to email you about.</p>
          </div>
        </div>
        <div class="column is-offset-1 is-6">
          {% include signup/mailchimp.html %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="title is-2">Latest news</h2>
            {% assign posts = site.tags[page.topic] %}
            {% if posts %}
            {% include related/news.html posts=posts limit=3 %}
            {% else %}
            <p>No news, yet.</p>
            {% endif %}
          </div>
        </div>
        <div class="column is-offset-1 is-4">
          <div class="content">
            <h2 class="title is-2">Features</h2>
            <ul>
              {% for feature in page.features %}
              <li>{{ feature }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="app-actions">
            <div class="buttons">
              {% if page.download %}
              <a rel="nofollow" href="{{ page.download }}" class="button is-link"><span class="icon"><i class="fas fa-arrow-circle-down"></i></span><span>Download {{ page.title }}</span></a>
              {% elsif page.appstore %}
              <a href="{{ page.appstore }}" class="button is-link"><span class="icon"><i class="fab fa-app-store"></i></span><span>Get {{ page.title }}</span></a>
              {% endif %}
              {% if page.website %}
              <a href="{{ page.website }}" class="button is-light">Visit {{ page.website | replace: "https://www.", "" }}</a>
              {% elsif page.presskit %}
              <a href="{{ page.presskit }}" class="button is-light">Get Press Kit</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
