/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Override max width */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Arial;
  line-height: 1.8em;
  color: #444; }

p, small {
  color: #777; }

a, a:hover, a:visited {
  color: #de5738; }

hr {
  margin: 40px 0 20px; }

small {
  font-size: 14px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #de5738; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #de5738; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #de5738; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #de5738; }

::selection {
  background: #de5738;
  /* Safari */
  color: #fff; }

::-moz-selection {
  background: #de5738;
  /* Firefox */
  color: #fff; }

.video-lightbox {
  /** Hide the lightbox */
  display: none;
  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0, 0, 0, 0.8); }

.video-lightbox iframe {
  /** Pad the lightbox image */
  width: 1024px;
  height: 576px;
  max-width: 90%;
  max-height: 80%;
  margin-top: 20px; }

#header {
  background: url(../img/bg-header.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center; }
  #header .overlay {
    padding: 40px 20px 40px;
    color: #fff;
    background: rgba(222, 87, 56, 0.93);
    line-height: 1.5; }
  #header .tagline {
    font-size: 42px;
    font-weight: bold;
    padding: 20px 0 0; }
  #header .features {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); }
  #header .download-container {
    margin: 100px 0 0; }
    #header .download-container small {
      display: block;
      margin-top: 1em;
      color: rgba(255, 255, 255, 0.8); }
  #header button.btn-download, #header a.btn-download {
    color: #de5738;
    background: #fff;
    border: #de5738 1px solid; }
    #header button.btn-download:hover, #header a.btn-download:hover {
      color: #fff;
      background: #de5738;
      border: #fff 1px solid; }

h1 {
  font-family: "Francois One", HelveticaNeue, "Helvetica Neue", Arial;
  font-size: 42px;
  line-height: 1.8em;
  margin: 40px 0 .5em; }

h2 {
  font-family: "HelveticaNeue", "Helvetica Neue", Arial;
  font-size: 24px;
  line-height: 1.8em; }

h3 {
  font-family: "HelveticaNeue", "Helvetica Neue", Arial;
  font-size: 16px;
  line-height: 1.8em; }

form input {
  padding: 14px;
  border: 0;
  line-height: normal;
  display: inline; }
  form input:focus {
    outline: none; }
form input.email {
  width: 320px;
  max-width: 100%;
  margin-right: -6px; }
form input.button {
  background: #222;
  color: #fff;
  padding: 14px 30px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s; }
  form input.button:hover {
    background: #333; }

ul.features, ul.features > li, ul.screenshots, ul.screenshots > li {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.features > li {
  display: inline;
  margin: 0 20px; }

#features .glyphicon, .features .glyphicon {
  margin-right: .5em; }

p .glyphimage {
  height: 16px; }

.download-container {
  text-align: center;
  margin: 40px 0 20px; }

.btn-flat:active, .btn-flat.active {
  box-shadow: none; }

button.btn-download, a.btn-download {
  color: #fff;
  background: #de5738;
  border: #fff 1px solid;
  font-size: 24px; }
  button.btn-download:hover, a.btn-download:hover {
    color: #de5738;
    background: transparent;
    border: #de5738 1px solid; }

.links {
  margin: 0 0 20px;
  font-size: 14px; }
  .links a, .links a:hover, .links a:visited {
    color: #fff; }
  .links ul, .links ul li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .links li {
    display: inline; }
  .links .left {
    float: left; }
    .links .left li {
      margin-right: 1em; }
  .links .right {
    float: right; }
    .links .right li {
      margin-left: 1em; }

section {
  padding: 40px 0; }

#features, #recommendations {
  background: #efefef; }

.highlight h1, .highlight h2, .highlight h3, .highlight .follow {
  text-align: center; }
.highlight p {
  width: 640px;
  max-width: 100%;
  margin: 0 auto 1em auto; }
.highlight img {
  max-width: 100%; }

#preview .video {
  text-align: center; }
  #preview .video iframe {
    width: 100%;
    height: 300px; }
  #preview .video .video-preview:before {
    background: url(../img/button-play.png) no-repeat;
    height: 54px;
    width: 54px;
    content: " ";
    margin: -27px -27px;
    position: absolute;
    left: 50%;
    top: 50%; }
  #preview .video .video-preview img {
    max-width: 100%; }

#features {
  padding-bottom: 20px; }
  #features .feature {
    margin-bottom: 40px; }

#screenshots {
  text-align: center; }
  #screenshots img {
    max-width: 100%; }

.recommendations {
  margin-top: 40px; }
  .recommendations .recommendation h4 {
    text-align: center; }
  .recommendations .recommendation .thumb {
    border-radius: 4px;
    margin: 20px 0;
    background: #fff;
    text-align: center;
    width: 100%;
    height: 140px; }
    .recommendations .recommendation .thumb:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .recommendations .recommendation .thumb img {
      padding: 10px;
      max-width: 150px; }

#subscribe {
  text-align: center;
  background: rgba(222, 87, 56, 0.93); }
  #subscribe, #subscribe p, #subscribe small {
    color: #fff; }
  #subscribe form {
    margin-top: 40px; }

#footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 40px 0; }
  #footer small {
    display: block;
    color: #888; }
    #footer small img {
      margin-right: 8px; }
  #footer .acknowledgements {
    margin-top: 20px;
    color: #444; }
    #footer .acknowledgements a {
      color: #555; }

@media (min-width: 768px) {
  .video-lightbox iframe {
    margin-top: 100px; }

  #screenshots .screenshot {
    margin-bottom: 40px; }
    #screenshots .screenshot .caption-container {
      margin-top: -20px; }
      #screenshots .screenshot .caption-container p {
        display: inline-block;
        color: #de5738;
        border-radius: 4px;
        border: #de5738 1px solid;
        padding: 10px 20px; }
  #screenshots .screenshots .selectable {
    cursor: pointer;
    border-bottom: transparent 2px solid;
    transition: border 200ms ease-out; }
    #screenshots .screenshots .selectable:hover {
      border-color: rgba(222, 87, 56, 0.5); }
    #screenshots .screenshots .selectable.active {
      border-color: #de5738; }
    #screenshots .screenshots .selectable p {
      display: none; } }
@media (min-width: 992px) {
  h2, h3 {
    margin-top: 0; }

  #header .overlay {
    padding: 100px 40px 60px; }

  section {
    padding: 60px 0; }

  #screenshots .screenshot .caption-container {
    margin-top: -40px; } }