---
layout: default
---

<main class="archive">
  <section class="section">
    <div class="container">
      {% unless page.hero.background %}
      <header class="page-header">
        <h1 class="title is-1">News about '{{ page.title | capitalize }}'</h1>
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/news">News</a></li>
            <li class="is-active"><a href="{{ page.url }}">{{ page.title }}</a></li>
          </ul>
        </nav>
      </header>
      {% endunless %}
      <div class="post-list">
        {% for post in page.posts %}
        {% include post/preview.html post=post %}
        {% endfor %}
      </div>
    </div>
  </section>
</main>
