<div class="container">
  <div class="row adventures primary">
{% sorted_for page in site.pages reversed sort_by:weight %}{% if page.adventure and page.weight >= 200 and page.hidden != true %}{% include adventure_intro.html %}{% endif %}{% endsorted_for %}
  </div>
  <div class="row adventures secondary">
{% sorted_for page in site.pages reversed sort_by:weight %}{% if page.adventure and page.weight < 200 and page.hidden != true %}{% include adventure_intro.html %}{% endif %}{% endsorted_for %}
  </div>
  <div class="treasure-below">
    <img src="/images/line-below-right.png" alt="">
    <div class="line"></div>
  </div>
</div>