<header class="container" role="banner">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item navbar-item-logo" href="{{ site.baseurl }}/">{% include Depths.svg %}</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          {% for page in site.html_pages %}
          {% if page.navigation %}
          <a class="navbar-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>
</header>
