<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-item-logo" href="{{ site.baseurl }}/">{% include logo/retro.html %}</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Apps</a>
          <div class="navbar-dropdown is-boxed">
            {% assign apps = site.pages | where: "layout", "app/live" %}
            {% for app in apps %}
            <a href="{{ app.url }}" class="dropdown-item">{{ app.title }}</a>
            {% endfor %}
            {% assign apps = site.pages | where: "layout", "app/announced" %}
            {% if apps.size > 0 %}
            {% for app in apps %}
            <em class="navbar-item has-text-grey">Announced:</em>
            <a href="{{ app.url }}" class="dropdown-item">{{ app.title }}</a>
            {% endfor %}
            {% endif %}
            <hr class="navbar-divider">
            <a href="/archive" class="dropdown-item"><span class="icon"><i class="fas fa-archive"></i></span><span>Archive</span></a>
          </div>
        </div>
        <a class="navbar-item" href="/news">News</a>
        <a class="navbar-item" href="/about">History</a>
        <a class="navbar-item" href="/support">Support</a>
      </div>
    </div>
  </div>
</nav>
