<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-item-logo" href="{{ site.baseurl }}/">{% include logo/retro.html %}</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Apps</a>
          <div class="navbar-dropdown is-boxed">
            {% assign apps = site.pages | where: "layout", "app/live" %}
            {% for app in apps %}
            <div class="dropdown-item">
              <div class="dropdown-item__app">
                <div>
                  <img src="/assets/img/app/{{ app.icon }}" alt="{{ app.title }} app icon">
                </div>
                <div>
                  <a href="{{ app.url }}" class="is-size-6 {% if app.url == page.url %}is-active{% endif %}">{{ app.title }}</a>
                  <p class="is-size-7 has-text-grey">{{ app.subtitle }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            {% assign apps = site.pages | where: "layout", "app/announced" %}
            {% if apps.size > 0 %}
            {% for app in apps %}
            <em class="navbar-item has-text-grey">Announced:</em>
            <a href="{{ app.url }}" class="dropdown-item {% if app.url == page.url %}is-active{% endif %}">{{ app.title }}</a>
            {% endfor %}
            {% endif %}
            <hr class="navbar-divider">
            <a href="/archive" class="dropdown-item {% if page.url == '/archive/' or page.layout == 'app/discontinued' %}is-active{% endif %}"><span class="icon"><i class="fas fa-archive"></i></span><span>Archive</span></a>
          </div>
        </div>
        <a class="navbar-item {% if page.url contains '/news/' %}is-active{% endif %}" href="/news">News</a>
        <a class="navbar-item {% if page.url == '/about/' %}is-active{% endif %}" href="/about">History</a>
      </div>
    </div>
  </div>
</nav>
