---
layout: default
---

{% if page.github %}
<a class="hidden-tablet" href="{{ page.github }}"><img style="position: absolute; top: 40px; right: 0; border: 0; z-index: 1040;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
{% endif %}

<header id="header" class="banner adventure_header">
  <img class="bg hidden-tablet hidden-phone" src="/images/adventures/{{ page.adventure }}/header.jpg" alt="{{ page.title }}">
  <div class="container">
    <div class="row">
      <div class="span6">
        {% if page.postcard == true %}
        <img src="/images/adventures/{{ page.adventure }}/postcard.png" alt="{{ page.title }} Postcard">
        {% else %}
        <img src="/images/adventures/{{ page.adventure }}/icon.png" alt ="{{ page.title }} Icon">
        {% endif %}
      </div>
      <div class="span6">
        {% if page.title %}
        <div class="title">
          <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
          {% if page.subtitle %}
          <p class="lead">{{ page.subtitle }}</p>
          {% endif %}
        </div>
        {% endif %}
        <div class="row buttons">
          <div class="span3">
            {% if page.download %}
            <a class="btn btn-large btn-block btn-primary" href="{{ page.url | remove:'/index.html' | strip_slash }}/download">Download Now</a>
            {% elsif page.website %}
            <a class="btn btn-large btn-block btn-primary" href="{{ page.website }}">More Info...</a>
            {% else %}
            This is a beta product.
            {% endif %}
            {% if page.requirements %}
            <div class="requirements">
              {{ page.requirements }}
            </div>
            {% endif %}
          </div>
          <div class="span3">
            {% if page.store %}
            <a class="btn btn-large btn-block btn-success" href="{{ page.store }}">{% if page.price > 0 %}Buy Now, ${{ page.price }}{% else %}Download Now, Free!{% endif %}</a>
            {% else %}
            <a class="btn btn-large btn-block disabled" href="#"><del>Buy Now</del> Soon!</a>
            {% endif %}
            {% if page.pricenotice %}
            <div class="price_notice">
              {{ page.pricenotice }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  {% if page.description %}
  <h2 class="adventure_blurp" >{{ page.description }}</h2>
  {% endif %}
</div>
{{ content }}
<div class="container">
  {% unless page.footer == false %}
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
  {% endunless %}
  {% if site.disqus_short_name and page.comments == true %}
    <section>
      <h1>Comments</h1>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}
</div>
<hr class="container">
