---
layout: default
---

{% if page.github %}
<a class="hidden-tablet hidden-phone" href="{{ page.github }}"><img style="position: absolute; top: 41px; right: 0; border: 0;  z-index: 1000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
{% endif %}

<header id="header" class="banner adventure_header {% if page.headercolor %}headercolor-{{ page.headercolor }}{% endif %}">
  <img class="bg hidden-phone" src="/images/adventures/{{ page.adventure }}/header.jpg" alt="{{ page.title }}">
  <div class="container">
    <div class="row title">
      <div class="span5 pull-right">
        <div class="icon">
          <img src="/images/adventures/{{ page.adventure }}/icon.png" alt ="{{ page.title }} Icon">
          {% if page.title %}
          <div>
            <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
            {% if page.subtitle %}
            <p class="lead hidden-tablet hidden-phone">{{ page.subtitle }}</p>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="span7 pull-right">
        {% unless page.video %}
          <img src="/images/adventures/{{ page.adventure }}/postcard.png" alt="{{ page.title }}">
        {% else %}
          <div class="video_container">
              <iframe src="{{ page.video }}?rel=0&amp;fs=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=1&amp;color=white&amp;vq=hd720" allowfullscreen></iframe>
          </div>
        {% endunless %}
      </div>
    </div>
    <div class="row buttons">
      {% unless page.macappstore %}
      <div class="offset3 span3">
        {% if page.download %}
        <a class="btn btn-large btn-block btn-primary" href="{{ page.url | remove:'index.html' | strip_slash }}/download">Free Download</a>
        {% elsif page.website %}
        <a class="btn btn-large btn-block btn-primary" href="{{ page.website }}">More Info...</a>
        {% elsif page.store %}
        {% else %}
        This is a beta product.
        {% endif %}
        {% if page.downloadnotice %}
        <div class="download_notice">
          {{ page.downloadnotice }}
        </div>
        {% endif %}
      </div>
      {% endunless %}
      <div class="{% if page.macappstore %}span12{% else %}span3{% endif %}">
        {% if page.macappstore %}
        <a href="{{ page.macappstore }}"><img src="/images/MacAppStore_download.png" alt="Download on the Mac App Store"></a>
        {% elsif page.store %}
        <a class="btn btn-large btn-block btn-success{% if page.discount > 0 %} discount-button{% endif %}" href="{{ page.store }}">
          {% if page.discount and page.discount > 0 %}
          <div class="ribbon">
            <img src="/images/ribbon-app-discount.png" alt="Ribbon">
            <p>-{{ page.discount }}%</p>
          </div>
          {% endif %}
          Buy Now
        </a>
        {% else %}
        <a class="btn btn-large btn-block disabled" href="#"><del>Buy Now</del> Soon!</a>
        {% endif %}
        {% if page.pricenotice %}
        <div class="price_notice">
          {{ page.pricenotice }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class="container">
  {% if page.description %}
  <div class="row">
    <h2 class="adventure_blurp span10 offset1">{{ page.description }}</h2>
  </div>
  {% endif %}
</div>
{{ content }}
<div class="container">
  <div class="row buttons">
    {% unless page.macappstore %}
    <div class="offset3 span3">
      {% if page.download %}
      <a class="btn btn-large btn-block btn-primary" href="{{ page.url | remove:'index.html' | strip_slash }}/download">Free Download</a>
      {% elsif page.website %}
      <a class="btn btn-large btn-block btn-primary" href="{{ page.website }}">More Info...</a>
      {% elsif page.store %}
      {% else %}
      This is a beta product.
      {% endif %}
      {% if page.downloadnotice %}
      <div class="download_notice">
        {{ page.downloadnotice }}
      </div>
      {% endif %}
    </div>
    {% endunless %}
    <div class="{% if page.macappstore %}span12{% else %}span3{% endif %}">
      {% if page.macappstore %}
      <a href="{{ page.macappstore }}"><img src="/images/MacAppStore_download.png" alt="Download on the Mac App Store"></a>
      {% elsif page.store %}
        <a class="btn btn-large btn-block btn-success{% if page.discount > 0 %} discount-button{% endif %}" href="{{ page.store }}">
          {% if page.discount and page.discount > 0 %}
          <div class="ribbon">
            <img src="/images/ribbon-app-discount.png" alt="Ribbon">
            <p>-{{ page.discount }}%</p>
          </div>
          {% endif %}
          Buy Now
        </a>
      {% else %}
      <a class="btn btn-large btn-block disabled" href="#"><del>Buy Now</del> Soon!</a>
      {% endif %}
      {% if page.pricenotice %}
      <div class="price_notice">
        {{ page.pricenotice }}
      </div>
      {% endif %}
    </div>
  </div>
  {% unless page.footer == false %}
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
  {% endunless %}
  {% if site.disqus_short_name and page.comments == true %}
    <section>
      <h1>Comments</h1>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}
</div>
<hr class="container">
