@charset 'utf-8';

// Colors
$black: #000117;
$blue: #13a8fe;
$blue-complementary: #1396E6;
$red: #cf0060;
$orange: #ffa300;
$purple: #ff00ff;
$white-complementary: #F3FBFF;
$primary: $purple;

// Links
$link: $orange;
$link-hover: $purple;

// Navbar
$navbar-item-hover-background-color: $link;
$navbar-item-hover-color: white;
