@charset 'utf-8';

// Colors
$black: #000117;
$blue: #13a8fe;
$blue-complementary: #1396E6;
$red: #cf0060;
$orange: #ffa300;
$purple: #ff00ff;
$white-complementary: #F3FBFF;
$primary: $orange;

// Links
$link: $primary;
$link-hover: $purple;

// Fonts
$family-sans-serif: 'Nunito', $family-sans-serif;
$family-primary: $family-sans-serif;
$family-title: 'Oswald', $family-primary;

// Navbar
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: $white;
