{% if page.site_title %}
{% assign title = page.site_title %}
{% elsif page.title %}
{% assign title = page.title %}
{% else %}
{% assign title = site.title %}
{% endif %}

{% assign url = page.url | replace:'index.html','' | absolute_url %}

{% if page.excerpt %}
{% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
{% elsif page.description %}
{% assign description = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

<link href="https://gmpg.org/xfn/11" rel="profile">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description }}">

<meta property="og:url" content="{{ url }}">
{% case page.layout %}
{% when 'post' %}
<meta property="og:type" content="article">
<meta property="og:image" content="{{ site.logo | absolute_url }}">
{% when 'app/live' or 'app/discontinued' or 'app/announced' %}
<meta property="og:type" content="product">
<meta property="og:image" content="{{ site.url }}/assets/img/app/{{ page.hero.icon }}">
{% else %}
<meta property="og:type" content="website">
<meta property="og:image" content="{{ site.logo | absolute_url }}">
{% endcase %}
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.social.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">

<script type="application/ld+json">
{% case page.layout %}
{% when 'post' %}
{
  "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}"
    },
    "headline": "{{ title }}",
    "image": [
        "{{ site.logo | absolute_url }}"
    ],
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "person",
      "name": "{{ site.author.name }}",
      "sameas" : [
        {% for link in site.author.links %}
        "{{ link.href }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.logo | absolute_url }}"
      }
    },
    "author": {
      "@type": "person",
      "name": "{{ site.author.name }}",
      "sameas" : [
        {% for link in site.author.links %}
        "{{ link.href }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    },
    "description": "{{ description }}"
}
{% when 'app/live' or 'app/announced' or 'app/discontinued' %}
{
  "@context": "http://schema.org",
    "@type": "Product",
    "image": [
      "{{ site.url }}/assets/img/app/{{ page.hero.icon }}"
    ],
    "name": "{{ page.title }}",
    "sku": "{{ page.posts }}",
    "brand": {
      "@type": "Organization",
      "name": "{{ site.title }}"
    },
    "description": "{{ description }}"
}
{% else %}
{
  "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}",
    "logo": "{{ site.logo | absolute_url }}",
    "sameAs" : [
      {% for link in site.links %}
      "{{ link.href }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
}
{% endcase %}
</script>
