{% asset vendor/highlight.pack.js %}
{% asset main.js %}

{% if page.gumroad %}
<script src="https://gumroad.com/js/gumroad.js"></script>
{% endif %}

{% if page.setapp %}
<script>
  window._setappBtn = window._setappBtn || [];
  window._setappBtn.push({
    vendorID: {{ page.setapp.vendor }},
    appID: {{ page.setapp.app }},
    selector: '.available-on-setapp-{{ page.setapp.app }}',
    campaignName: '{{ page.setapp.campaign }}'
  });
</script>

<script src='https://developer.setapp.com/setapp-button/setapp.js'></script>
{%if page.setapp.icon_url %}
<script type="text/javascript" src="https://developer.setapp.com/setapp-banner/index.js" async></script>
{% endif %}
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const $hoveritems = Array.prototype.slice.call(document.querySelectorAll('.navbar-item.has-dropdown.is-hoverable'), 0);

    $hoveritems.forEach(el => {
      el.addEventListener('touchstart', () => {
        el.classList.toggle('is-active');
      });
    });

  });
</script>
