.adventure_header {
  height: auto;
  .container {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .icon {
    img {
      height: 128px;
    }
  }
  .postcard {
    @include border-radius(4px);
    @include box-shadow(rgba(0,0,0,0.2) 0 2px 8px);
    border: #fff 4px solid;
    background: #fff;
    width: 100%;
    background-color: #fff;
    background-position: 50% 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 48px;
    line-height: 120%;
  }
  .btn, .requirements {
    margin: 10px 0;
  }
  &.headercolor-light {
    color: #333;
  }
}
.adventure_blurp {
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

.treasure-top {
  padding: 40px 0;
  img { float: left; }
  .line {
    background: image-url('line-above-tile.png') repeat-x;
    height: 10px;
    margin-left: 149px;
  }
}
.treasure-below {
  padding: 0 0 40px 0;
  img { float: right; }
  .line {
    background: image-url('line-below-tile.png') repeat-x 100% 0;
    height: 46px;
    margin-right: 185px;
  }
}

.adventures .adventure_intro {
  min-height: 98px;
  padding: 30px 0;
  background: #eee;
  @include background(linear-gradient(top, #fff, #eee));
  @include border-radius(4px);
  border: #bbb 1px solid;
  margin-left: 18px;
  margin-bottom: 18px;
  position: relative;
  color: #333;
  @include transition(box-shadow 0.1s ease-in);

  &:hover {
    text-decoration: none; color: #333;
    @include box-shadow(0 0 20px #999);
  }

  .icon {
    text-align: center;
  }
  .text {
    margin-left: 0;
    h3 {
      margin-top: 0;
      line-height: 1em;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .btn {
    margin-bottom: 4px;
  }
  img {
    max-width: 100px;
    max-height: 100px;
  }
  .ribbon {
    position: absolute;
    top: -1px;
    left: -1px;
  }
}

