header.adventure_header {
  height: auto;
  .icon {
    margin-bottom: 10px;
  }
  .title {
    margin-bottom: 50px;
    h1 {
      font-size: 64px;
      line-height: 150%;
    }
  }
  .btn, .requirements, .price_notice {
    margin-bottom: 10px;
  }
}
.adventure_blurp {
  font-weight: 100;
  margin: 50px 0;
  text-align: center;
}

.treasure-top {
  padding: 40px 0;
  img { float: left; }
  .line {
    background: image-url('line-above-tile.png') repeat-x;
    height: 10px;
    margin-left: 149px;
  }
}
.treasure-below {
  padding: 0 0 40px 0;
  img { float: right; }
  .line {
    background: image-url('line-below-tile.png') repeat-x 100% 0;
    height: 46px;
    margin-right: 185px;
  }
}

.adventures .adventure_intro {
  min-height: 98px;
  padding: 30px 0;
  background: #eee;
  @include background(linear-gradient(top, #fff, #eee));
  @include border-radius(4px);
  border: #bbb 1px solid;
  margin-left: 18px;
  margin-bottom: 18px;
  position: relative;
  color: #333;
  @include transition(box-shadow 0.1s ease-in);

  &:hover {
    text-decoration: none; color: #333;
    @include box-shadow(0 0 20px #999);
  }

  .icon {
    text-align: center;
  }
  .text {
    margin-left: 0;
    h3 {
      margin-top: 0;
      line-height: 1em;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .btn {
    margin-bottom: 4px;
  }
  img {
    max-width: 100px;
    max-height: 100px;
  }
  .ribbon {
    position: absolute;
    top: -1px;
    left: -1px;
  }
}

