<p>
  Created with grog by {{ site.author }} in 2011-{{ site.time | date: "%Y" }} - <a href="/terms">Terms</a> & <a href="/privacy">Privacy</a> -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<div class="socials">
  <a href="https://twitter.com/dangercove" target="_blank"><img src="/images/icons/glyphicons_411_twitter@2x.png" alt="@dangercove"></a>
  <a href="https://facebook.com/dangercove" target="_blank"><img src="/images/icons/glyphicons_410_facebook@2x.png" alt="Danger Cove on Facebook"></a>
  <a href="https://github.com/dangercove" target="_blank"><img src="/images/icons/glyphicons_401_github@2x.png" alt="Danger Cove on GitHub"></a>
</div>
