<p>
  Created with grog by {{ site.author }} in {{ site.time | date: "%Y" }} - <a href="/terms">Terms</a> & <a href="/privacy">Privacy</a> -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<div class="socials">
  <a href="http://twitter.com/dangercove" target="_blank"><img src="/images/icons/twitter.png" alt="@dangercove"></a>
  <a href="http://facebook.com/dangercove" target="_blank"><img src="/images/icons/facebook.png" alt="Danger Cove on Facebook"></a>
</div>
