<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="box">
  <form action="{{ site.mailchimp.form }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="content">
        <div class="mc-field-group field">
          <label for="mce-EMAIL" class="is-size-4">Email Address</label>
          <p class="has-text-grey">I don't email often and hate spam as much as you do.</p>
          <div class="control has-icons-left">
            <input placeholder="hopper@hawkingspd.gov" type="email" value="" name="EMAIL" class="required email input is-medium is-info" id="mce-EMAIL">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="mc-field-group input-group content {% if page.mailchimp.interests %}is-hidden{% endif %}">
        <label class="is-size-4">Interests</label>
        <p class="has-text-grey">Select the subjects you'd like to be updated about.</p>
        <div class="box">
          {% for interest in site.mailchimp.interests %}
          <div><label for="mce-group[17185]-17185-{{ forloop.index }}" class="checkbox"><input type="checkbox" value="{{ interest.id }}" name="group[17185][{{ interest.id }}]" id="mce-group[17185]-17185-{{ forloop.index }}" {% if interest.always or page.mailchimp.interests contains interest.id %}checked{% endif %}> {{ interest.title }}</label></div>
          {% endfor %}
        </div>
      </div>
      <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
        <div class="content__gdpr content">
          <label class="is-size-4">Marketing Permissions</label>
          <p class="has-text-grey">Please select all the ways you would like to hear from Danger Cove.</p>
          <fieldset class="mc_fieldset gdprRequired mc-field-group box" name="interestgroup_field">
            <div class="field">
              <div class="control">
                <label class="checkbox subfield" for="gdpr_{{ site.mailchimp.gdpr }}"><input type="checkbox" id="gdpr_{{ site.mailchimp.gdpr }}" name="gdpr[{{ site.mailchimp.gdpr }}]" value="Y" class="av-checkbox "><span> Email</span></label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="control content">
          <input type="submit" value="{% if page.layout == 'app/announced' %}Notify Me{% else %}Subscribe{% endif %}" name="subscribe" id="mc-embedded-subscribe" class="button is-link is-medium">
        </div>
        <div class="content has-text-grey-light">
          <p><small>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</small></p>
          <p><small>We use Mailchimp as our marketing platform. By clicking to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></small></p>
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ site.mailchimp.bot }}" tabindex="-1" value=""></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
