<section class="section is-medium has-text-centered">
  <div class="columns">
    <div class="column is-offset-2 is-8">
      <p class="subtitle is-2 page-description">{{ page.description }}</p>
    </div>
  </div>
  <div class="container">
    <div class="app-actions">
      {% if page.appstore %}
      <a rel="nofollow" href="{{ page.appstore }}" class="appstore-button"><img src="/assets/img/appstore.png" alt="Download on the Mac App Store" class="appstore-button__image"></a>
      {% elsif page.download %}
      <a rel="nofollow" href="{{ page.download }}" class="button is-large is-link is-fullwidth"><span class="icon"><i class="fab fa-app-store"></i></span><span>Get {{ page.title }}</span></a>
      {% elsif page.website %}
      <a href="{{ page.website }}" class="button is-large is-light is-fullwidth">Visit {{ page.website | replace: "https://www.", "" }}</a>
      {% endif %}
    </div>
  </div>
</section>
