<header class="hero hero-app is-medium" role="banner">

  <div class="hero-head">
    {% include navigation.html %}
  </div>

  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <figure class="logo">
            <img src="/assets/img/app/{{ page.hero.icon }}" alt="{{ page.title }} app icon">
          </figure>
          <h1 class="title is-1 is-spaced">{{ page.title }}</h1>
          <h2 class="subtitle is-4">{{ page.subtitle }}</h2>
          <div class="app-actions buttons is-centered">
            {% if page.appstore %}
            <a href="{{ page.appstore }}" class="appstore-button button__dark"><img src="/assets/img/appstore.png" alt="Download on the Mac App Store" class="appstore-button__image"></a>
            <a href="{{ page.appstore }}" class="appstore-button button__light"><img src="/assets/img/appstore-alt.png" alt="Download on the Mac App Store" class="appstore-button__image"></a>
            {% elsif page.download %}
            <a rel="nofollow" href="{{ page.download }}" class="button is-large is-link"><span class="icon"><i class="fas fa-arrow-circle-down"></i></span><span>Download {{ page.title }}</span></a>
            {% if page.buy %}
            <a href="{{ page.buy }}" class="button is-large is-link is-inverted"><span class="icon"><i class="fas fa-shopping-cart"></i></span><span>Buy Now</span></a>
            {% endif %}
            {% elsif page.website %}
            <a href="{{ page.website }}" class="button is-large is-light is-fullwidth">Visit {{ page.website | replace: "https://www.", "" }}</a>
            {% endif %}
          </div>
        </div>
        <div class="column is-offset-1 is-7 is-vertical-center">
          <h3 class="subtitle is-2 page-description">{{ page.description }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
  </div>

</header>
