{% if page.producthunt %}
<div class="producthunt">
  <div class="container">
    <p>
      {% if page.producthunt.type == "top" %}
      <a class="light" href="https://www.producthunt.com/posts/{{ page.producthunt.name }}?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-{{ page.producthunt.name }}" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id={{ page.producthunt.id }}&theme=light&period=daily" alt="Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      <a class="dark" href="https://www.producthunt.com/posts/{{ page.producthunt.name }}?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-{{ page.producthunt.name }}" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id={{ page.producthunt.id }}&theme=dark&period=daily" alt="Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      {% else %}
      <a class="light" href="https://www.producthunt.com/posts/{{ page.producthunt.name }}?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-{{ page.producthunt.name }}" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id={{ page.producthunt.id }}&theme=light" alt="Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      <a class="dark" href="https://www.producthunt.com/posts/{{ page.producthunt.name }}?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-{{ page.producthunt.name }}" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id={{ page.producthunt.id }}&theme=dark" alt="Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      {% endif %}
    </p>
  </div>
</div>
{% endif %}

<header class="hero hero-app is-medium" role="banner">
  <div class="hero-head">
    {% include navigation.html %}
  </div>

  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <figure class="logo">
            <img src="/assets/img/app/{{ page.hero.icon }}" alt="{{ page.title }} app icon">
          </figure>
          <h1 class="title is-1 is-spaced">{{ page.title }}{% if page.beta %} <sup><span class="tag">Beta</span></sup>{% endif %}</h1>
          <h2 class="subtitle is-4">{{ page.subtitle }}</h2>
        </div>
        <div class="column is-8 is-vertical-center">
          <h3 class="subtitle is-2 page-description">{{ page.description }}</h3>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      {% if page.download || page.gumroad || page.buy %}
      <div>
        <div class="buttons is-centered">
          {% if page.download %}
          <a rel="nofollow" href="{{ page.download }}" class="button is-large is-link"><span class="icon"><i class="fas fa-arrow-circle-down"></i></span><span>Download {{ page.title }}</span></a>
          {% endif %}
          {% if page.gumroad %}
          <a href="https://gum.co/{{ page.gumroad.name }}?wanted=true" class="button is-large is-link is-inverted"><span class="icon"><i class="fas fa-shopping-cart"></i></span><span>Buy Now</span></a>
          {% elsif page.buy %}
          <a href="{{ page.buy }}" class="button is-large is-link is-inverted"><span class="icon"><i class="fas fa-shopping-cart"></i></span><span>Buy Now</span></a>
          {% endif %}
        </div>
        <div>
          <p class="has-text-grey-light">Download {{ page.title }} directly for free.{% if page.gumroad || page.buy %} Purchase a license to unlock premium features.{% endif %}</p>
        </div>
      </div>
      {% endif %}
      {% if page.appstore || page.setapp %}
      <div class="appstore-buttons">
        {% if page.appstore %}
        <a href="{{ page.appstore }}" class="appstore-button button__dark {% if page.setapp %}appstore-button__small{% endif %}"><img src="/assets/img/appstore.png" alt="Download on the Mac App Store" class="appstore-button__image"></a>
        <a href="{{ page.appstore }}" class="appstore-button button__light {% if page.setapp %}appstore-button__small{% endif %}"><img src="/assets/img/appstore-alt.png" alt="Download on the Mac App Store" class="appstore-button__image"></a>
        {% endif %}
        {% if page.setapp %}
        <div class="setapp-button available-on-setapp-{{ page.setapp.app }}"></div>
        {% endif %}
      </div>
      {% endif %}
      {% if page.website %}
      <div>
        <a href="{{ page.website }}" class="button is-large is-light is-fullwidth">Visit {{ page.website | replace: "https://www.", "" }}</a>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="hero-foot">
  </div>

</header>
