<header class="hero hero-app is-black is-medium" role="banner" style="background-image: url('/assets/img/app/{{ page.hero.background }}');">

  <div class="hero-head">
    {% include navigation.html %}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="logo">
        <img src="/assets/img/app/{{ page.hero.icon }}" alt="{{ page.title }} app icon">
      </figure>
      <h1 class="title is-1 is-spaced">
        {{ page.title }}
      </h1>
      <h2 class="subtitle">
        {{ page.subtitle }}
      </h2>
      <div class="tags is-centered">
        {% for tag in page.tags %}
        <span class="tag is-dark">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <p class="subtitle hero-app-description is-3">{{ page.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
  </div>

</header>
