{% assign app = include.app %}
<div class="container">
  <div class="columns">
    <div class="column is-half">
      <div class="media">
        <figure class="media-left is-hidden-mobile">
          <p class="image is-64x64">
            <img src="/assets/img/app/{{ app.icon }}" alt="{{ app.title }} app icon">
          </p>
        </figure>
        <div class="media-content">
          <article class="content">
            <h3 class="title is-1">{{ app.title }}</h3>
            <h4 class="subtitle is-4">{{ app.subtitle }}</h4>
            <div class="tags">
              {% for tag in app.tags %}
              <span class="tag is-dark">{{ tag }}</span>
              {% endfor %}
            </div>
            <p>{{ app.description }}</p>
            <h4 class="subtitle is-4">Features</h4>
            <ul>
              {% for feature in app.features %}
              <li>{{ feature }}</li>
              {% endfor %}
            </ul>
          </article>
          <div class="app-actions columns">
            <div class="column is-one-third">
              <a rel="nofollow" href="{{ app.download_link }}" class="button is-medium is-link is-fullwidth"><i class="fab fa-app-store has-space-right"></i> Get {{ app.title }}</a>
            </div>
            <div class="column">
              <a href="{{ app.url }}" class="button is-medium is-light">Learn More</a>
            </div>
          </div>
          {% if page.layout == 'home' %}
          <div class="app-photo has-text-grey-dark">
            <p class="app-photo__credits">{{ app.hero.credits }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        {% for screenshot in app.screenshots %}
        <figure>
          <a href="/assets/img/app/{{ screenshot.href }}"><img class="has-shadow" src="/assets/img/app/{{ screenshot.href }}" alt="{{ screenshot.alt }}"></a>
          <figcaption>{{ screenshot.caption }}</figcaption>
        </figure>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
