{% if loop_page %}
  {% assign page = loop_page %}
{% endif %}

{% if page.website %}
<a href="{{ page.website }}" class="adventure_intro span4 {{ page.status }}" target="_blank">
{% else %}
<a href="{{ root_url }}{{ page.url }}" class="adventure_intro span4 {{ page.status }}">
{% endif %}
<div class="row">
  {% if page.status == "poc" %}
  <img class="ribbon" src="/images/ribbon-beta.png">
  {% elsif page.price == 0.0 %}
  <img class="ribbon" src="/images/ribbon-free.png">
  {% endif %}
  <div class="span2 icon">
    <img src="/images/adventures/{{ page.adventure }}/icon.png">
  </div>
  <div class="span2 text">
    <h3>{{ page.title }}</h2>
    <p>{{ page.subtitle }}</p>
  </div>
</div>
</a>

