{% if loop_page %}
  {% assign page = loop_page %}
{% endif %}

{% if page.website %}
<a href="{{ page.website }}" class="adventure_intro span4 {{ page.status }}" target="_blank">
{% elsif page.store %}
<a href="{{ page.store }}" class="adventure_intro span4 {{ page.status }}" target="_blank">
{% elsif page.status == "soon" %}
<a href="#" class="adventure_intro span4 {{ page.status }}">
{% else %}
<a href="{{ root_url }}{{ page.url | remove:'/index.html' }}" class="adventure_intro span4 {{ page.status }}">
{% endif %}
<div class="row">
  {% if page.status == "poc" %}
  <img class="ribbon" src="/images/ribbon-beta.png" alt="">
  {% elsif page.status == "soon" %}
  <img class="ribbon" src="/images/ribbon-soon.png" alt="">
  {% elsif page.price == 0.0 %}
  <img class="ribbon" src="/images/ribbon-free.png" alt="">
  {% endif %}
  <div class="span2 icon">
    <img src="/images/adventures/{{ page.adventure }}/icon.png" alt="{{ page.title }} Icon">
  </div>
  <div class="span2 text">
    <h3>{{ page.title }}</h3>
    <p>{{ page.subtitle }}</p>
  </div>
</div>
</a>

