{% if loop_page %}{% assign page = loop_page %}{% endif %}
{% assign span = "span6" %}{% assign span_icon = "span2" %}{% assign span_text = "span4" %}{% assign offset_requirements = "offset2" %}
{% if page.website %}<a href="{{ page.website }}" class="adventure_intro {{ span }} {{ page.status }}" target="_blank">{% elsif page.status == "soon_nourl" %}<a href="#" class="adventure_intro {{ span }} {{ page.status }}">{% else %}<a href="{{ root_url }}{{ page.url | remove:'index.html' }}" class="adventure_intro {{ span }} {{ page.status }}">{% endif %}
<div class="row">
{% if page.status == "beta" %}
<img class="ribbon" src="/images/ribbon-beta.png" alt="">
{% elsif page.status == "soon" or page.status == "soon_nourl" %}
<img class="ribbon" src="/images/ribbon-soon.png" alt="">
{% elsif page.status == "new" %}
<img class="ribbon" src="/images/ribbon-new.png" alt="">
{% elsif page.status == "updated" %}
<img class="ribbon" src="/images/ribbon-updated.png" alt="">
{% endif %}
  <div class="{{ span_icon }} icon">
    <img src="/images/adventures/{{ page.adventure }}/icon.png" alt="{{ page.title }} Icon">
  </div>
  <div class="{{ span_text }} text">
    <h3>{{ page.title }}</h3>
    <p class="subtitle">{{ page.subtitle }}</p>
    <p class="requirements">{{ page.requirements }}</p>
  </div>
</div>
</a>
