{% include disqus.html %}{% include facebook_like.html %}{% include google_plus_one.html %}{% include twitter_sharing.html %}{% include custom/after_footer.html %}
<script src="{{ root_url }}/javascripts/jquery.js"></script>
<script src="{{ root_url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ root_url }}/javascripts/plugins/screenshots.js"></script>
<script src="{{ root_url }}/javascripts/scripts.js"></script>

<!-- BEGIN GROOVE WIDGET CODE -->
<script id="grv-widget">
  /*<![CDATA[*/
  var _grvq = [];
  _grvq.push(['setWidgetId', '265bd51a-95a1-b26c-84f5-a6663b82a358']);
  !function(t,e,o){var a,n,c=e.createElement("iframe");(c.frameElement||c).style.cssText="width: 0; height: 0; border: 0",c.title="",c.role="presentation",c.src="javascript:false",e.body.appendChild(c);try{a=c.contentWindow.document}catch(i){n=e.domain,c.src="javascript:document.write('<head><script>document.domain='" + n + "'</"+"script></head><body></body>')",a=c.contentWindow.document}var d="https:"==e.location.protocol?"https://":"http://",r="http://groove-widget-production.s3.amazonaws.com".replace("http://",d);c.className="grv-widget-tag",a.open()._l=function(){n&&(this.domain=n);var t=this.createElement("script");t.type="text/javascript",t.charset="utf-8",t.async=!0,t.src=r+"/loader.js",this.body.appendChild(t)},a.write('<body onload="document._l();">'),a.close()}(window,document);
      /*]]>*/
  </script>
  <!-- END GROOVE WIDGET CODE -->
