<div class="container">
  <div class="row">
    <div class="blog-index span8">
      {% assign index = true %}
      {% for post in site.posts %}
      {% assign content = post.content %}
        <article>
          {% include article.html %}
        </article>
      {% endfor %}
    </div>
    <aside class="sidebar span4">
      {% if site.blog_index_asides.size %}
        {% include_array blog_index_asides %}
      {% else %}
        {% include_array default_asides %}
      {% endif %}
    </aside>
  </div>
</div>