{% assign post = content.post %}

<div class="card">
  {% if post.hero.background %}
  <div class="card-image">
    <figure class="image is-16by9">
      <img src="/assets/img/{{ post.hero.background }}" alt="Preview image of post titled {{ post.title }}">
    </figure>
  </div>
  {% endif %}

  <div class="card-content">
    <p class="title is-4">{{ post.title }}</p>

    <div class="content">
      {{ post.excerpt }}
    </div>
  </div>

  {% if post.content != post.excerpt %}
  <div class="card-footer">
    <a class="card-footer-item" href="{{ post.url }}">Read More</a>
  </div>
  {% endif %}
</div>
