<li class="{% dcactivemenu /index.html /airtube %} dropdown-toggle">
    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ root_url }}/">Adventures <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for page in site.pages %}
        {% if page.adventure and page.status == "poc" %}
        <li><a href="{% if page.website %}{{ page.website }}" target="_blank{% else %}{{ page.url | remove:'index.html' }}{% endif %}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      {% for page in site.pages %}
        {% if page.adventure and page.status == "done" %}
        <li><a href="{% if page.website %}{{ page.website }}" target="_blank{% else %}{{ page.url | remove:'index.html' }}{% endif %}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
</li>
<li class="{% dcactivemenu /blog %}"><a href="{{ root_url }}/blog">Journal</a></li>
<li class="{% dcactivemenu /support %}"><a href="{{ root_url }}/support">Support</a></li>
<li class="{% dcactivemenu /about-us %}"><a href="{{ root_url }}/about-us">About Us</a></li>
