<!-- <li class="{% dcactivemenu /index.html /airtube /reign /coucou %}"><a href="{{ root_url }}/">Adventures</a></li> -->
<ul class="nav">
  {% sorted_for p in site.pages reversed sort_by:weight %}
    {% if p.adventure %}
      <li class="{% if page.url == p.url or page.belongs_to == p.adventure %}active{% endif %}">
        {% if p.website %}
          <a href="{{ p.website | remove:'index.html' }}" target="_blank">{{ p.title }}</a>
        {% else %}
          <a href="{{ p.url | remove:'index.html' }}">{{ p.title }}</a>
        {% endif %}
      </li>
    {% endif %}
  {% endsorted_for %}
</ul>
<ul class="nav pull-right">
  <li class="{% dcactivemenu /blog %}"><a href="{{ root_url }}/blog">Journal</a></li>
  <li class="{% dcactivemenu /support %}"><a href="{{ root_url }}/support">Support</a></li>
  <li class="{% dcactivemenu /about %}"><a href="{{ root_url }}/about">About</a></li>
  {% if site.simple_search %}
  <li>
  <form class="navbar-form" action="{{ site.simple_search }}" method="get">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" placeholder="Search"/>
  </form>
  </li>
  {% endif %}
  {% if false %}
    <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS"><img src="{{ root_url }}/images/rss.png" alt="subscribe via RSS"></a></li>
  {% endif %}
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}

</ul>

