---
layout: default
---

<main class="page">
  <section class="section">
    <div class="container">
      <header class="page-header">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <p class="subtitle is-4 has-text-grey-light">{{ page.subtitle }}</p>
        {% endif %}
        {% if page.date %}
        <p class="subtitle is-4 has-text-grey-light">{{ page.date | date: "%B %Y" }}</p>
        {% endif %}
      </header>
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <article class="page-content content is-large has-text-centered">
            {{ content | markdownify }}
          </article>
        </div>
      </div>
    </div>
  </section>
  {% if page.has_current %}
  <section class="section">
    {% assign live = site.pages | where: 'layout', 'app/live' %}
    {% assign announced = site.pages | where: 'layout', 'app/announced' %}
    {% assign apps = announced | concat: live %}
    {% include app/overview.html apps=apps %}
  </section>
  {% endif %}
  {% if page.has_discontinued %}
  <section class="section">
    {% assign apps = site.pages | where: "layout", "app/discontinued" %}
    {% include app/overview.html apps=apps %}
  </section>
  {% endif %}
</main>
