---
layout: default
---

<main>
  <header class="hero" role="banner">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        {% include logo/retro.html %}
        <h1 class="title is-1 is-spaced">{{ page.title }}</h1>
        <h2 class="subtitle is-4">{{ page.subtitle }}</h2>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </header>

  <section class="section">
    {% assign live = site.pages | where: 'layout', 'app/live' %}
    {% assign announced = site.pages | where: 'layout', 'app/announced' %}
    {% assign apps = announced | concat: live %}
    {% include app/overview.html apps=apps %}
  </section>

  <div class="container">
    <section class="section">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h2 class="title is-2">Latest news</h2>
            <p>
              <a href="/feed.xml" class="button is-rss"><span class="icon"><i class="fas fa-rss"></i></span><span>Subscribe</span></a>
              <a href="/news" class="button is-light">More News</a>
            </p>
            {% for post in site.posts limit: 3 %}
            {% include post/teaser.html post=post %}
            {% endfor %}
          </div>
          <div class="content is-medium">
            {{ content }}
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="title is-2">Mailing list</h2>
            <p>Subscribe to the mailing list to receive updates and new app announcements. You can also <a href="https://www.twitter.com/{{ site.social.twitter }}">follow @{{ site.social.twitter }}</a> on Twitter.</p>
            {% include signup/mailchimp.html %}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
