---
layout: default
---

<main>
  <header class="hero is-medium" role="banner">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        {% include logo/retro.html %}
        <h1 class="title is-1 is-spaced">{{ page.title }}</h1>
        <h2 class="subtitle is-4">{{ page.subtitle }}</h2>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </header>

  <section>
    {% assign apps = site.pages | where: "layout", "app/live" %}
    {% include app/overview.html apps=apps %}
  </section>

  <div class="container">
    <section class="section">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h2 class="title is-2">Latest news</h2>
            <p>
              <a href="/feed.xml" class="button is-link"><span class="icon"><i class="fas fa-rss"></i></span><span>Subscribe</span></a>
              <a href="/news" class="button is-light">More News</a>
            </p>
            {% for post in site.posts limit: 3 %}
            {% include post/preview.html post=post %}
            {% endfor %}
          </div>
        </div>
        <div class="column">
          <div class="content is-medium">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
