---
layout: default
---

<main>
  <section>
    {% assign apps = site.pages | where: "layout", "app/live" %}
    {% include app/overview.html apps=apps %}
  </section>

  <div class="container">
    <section class="section is-medium">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h2 class="title is-2">Latest news</h2>
            <p>
              <a href="/feed.xml" class="button is-link"><span class="icon"><i class="fas fa-rss"></i></span><span>Subscribe</span></a>
              <a href="/news" class="button is-light">More News</a>
            </p>
            {% for post in site.posts limit: 3 %}
            {% include post/preview.html post=post %}
            {% endfor %}
          </div>
        </div>
        <div class="column">
          <div class="content is-medium">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
