---
layout: default
---

<main class="news">
  <section class="section">
    <div class="container">
      {% unless page.hero.background %}
      <header class="page-header">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <p class="subtitle is-4 has-text-grey-light">{{ page.subtitle }}</p>
        <div class="page-header-actions">
          <a href="/feed.xml" class="button is-link"><i class="fas fa-rss has-space-right"></i> Subscribe</a>
        </div>
        {% endif %}
      </header>
      {% endunless %}
      <div class="news-posts columns is-multiline">
        {% for post in site.posts %}
        <div class="news-posts-post column is-half">
          {% include post/preview.html post=post %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
