---
layout: default
---

<main class="post">
  <section class="section">
    <div class="container">
      {% unless page.hero.background %}
      <header class="post-header">
        <h1 class="title is-1">{{ page.title }}</h1>
        <p class="subtitle is-4 has-text-grey-light">{{ page.date | date: "%B %Y" }}</p>
      </header>
      {% endunless %}
      <div class="columns is-multiline">
        <div class="column is-offset-2 is-8">
          <div class="tags">
            {% for tag in page.tags %}
            <a href="/news/{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
          </div>

          <article class="content is-medium">
            {{ content | markdownify }}
          </article>

          {% if page.mailchimp %}
          {% include signup/mailchimp.html %}
          {% endif %}

          {% for tag in page.tags %}
          {% assign app = site.pages | where: 'posts', tag | first %}
          {% if app %}
          {% include app/introduction.html app=app %}
          {% endif %}
          {% endfor %}

          <hr>

          {% include post/pagination.html %}
        </div>
      </div>
    </div>
  </section>
</main>
